body {
    font-family: roboto;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 25px;
}

.logo img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
}

.link a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    margin-left: 10px;
}

.hero {
    background-color: #1f2937;
    color: #F9FAF8;
    min-height: 500px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.hero ul {
    width: 400px;
    list-style: none;
}

.hero .main {
    font-size: 48px;
    font-weight:800;
}

.hero .text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 1000;
    border: none;
    border-radius: 4px;
    padding: 5px 20px;
    margin-top: 10px;
}

.mid {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 25px;
    flex: 1;
    margin: 50px;
}

.mid .title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.container {
    display: flex;
    column-gap: 50px;
    margin: 50px;
}

.combi img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: 0 80%;
    border-radius: 10%;
    border: #3882f6 solid 5px;
}

.combi .text {
    width: 250px;
    flex-wrap: wrap;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

.quote .text {
    width: 1000px;
    margin: 0 auto;

}

.author {
    width: 900px;
    margin: 0 auto;
    text-align: right;
    font-weight: bold;
}

.action {
    flex: 1;
}

.box {
    background-color: #3882F6;
    display: flex;
    min-height: 150px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin: 100px 150px;
    padding: 0 100px;
}

.boxin {
    color: #F9FAF8;
}

.boxin .title {
    font-size: 20px;
    font-weight: 800;
}

.box button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 1000;
    border: 2px solid #F9FAF8;
    border-radius: 4px;
    padding: 5px 20px;
}

.footer {
    background-color: #1f2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 100px;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 0 100%;
}

